<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundee.mapper.QnaMapper">




<!-- QUESTION 부분 -->

<select id="getAllQuestion" parameterType="map" resultType="com.fundee.dto.QuestionDTO">
	select * from (
		select rownum rnum, data.* from (
			select * from question order by question_num desc
		) data
	<![CDATA[
	) where rnum>=#{start} and rnum<=#{end}
	]]>
</select>


<select id="getQuestionDataCount" resultType="int">
	select nvl(count(*),0) from question
</select>


<select id="getQuestionDetail" parameterType="int" resultType="com.fundee.dto.QuestionDTO">
	select * from question where question_num=#{question_num}
</select>


<select id="getQuestionMaxNum" resultType="int">
	select nvl(max(question_num),0) from question
</select>


<insert id="insertQuestion" parameterType="com.fundee.dto.QuestionDTO">
	insert into question (question_num,id,title,content,reg_date,secret)
	values (#{question_num},#{id},#{title},#{content},sysdate,#{secret})
</insert>


<delete id="deleteQuestion" parameterType="int">
	delete question where question_num=#{question_num}
</delete>






<!-- ANSWER 부분 -->


<select id="getAnswerMaxNum" resultType="int">
	select nvl(max(answer_num),0) from answer
</select>


<select id="getAnswered" parameterType="int" resultType="int">
	select nvl(count(*),0) from answer where question_num=#{question_num}
</select>



<select id="getAnswer" parameterType="int" resultType="com.fundee.dto.AnswerDTO">
	select * from answer where question_num=#{question_num}
</select>


<insert id="insertAnswer" parameterType="com.fundee.dto.AnswerDTO">
	insert into answer (answer_num,id,question_num,content,reg_date)
	values (#{answer_num},#{id},#{question_num},#{content},sysdate)
</insert>


<delete id="deleteAnswer" parameterType="int">
	delete answer where answer_num=#{answer_num}
</delete>


<delete id="deleteAnswerOfQuestion" parameterType="int">
	delete answer where question_num=#{question_num}
</delete>





<!-- Member table에서 ID로 해당 회원 정보 가져오기 -->
<select id="getMemberDetail" parameterType="String" resultType="com.fundee.dto.LoginDTO">
	select * from member where id=#{id}
</select>





</mapper>